In [1]:
import matplotlib.pyplot as plt
import networkx as nx
import pandas as pd
import numpy as np
from pulp import *
import seaborn as sn

In [2]:
df=pd.read_csv('../../../Datasets/cop_data.csv')
df.head()

,X,Y,ID,Case_Number,Address,Occurred_Date,Occurred_Month,Occurred_Year,Crime_Type,Multiple_Shooting,Gender,Race,Ethnicity,Victim_Age,Victim_Age_Band,Latitude,Longitude,ObjectId
0,-77.607990,43.183680,d981912bde17ff11baeec440d2962c55,20-180265,1010 Joseph Ave,2020/08/09 04:00:00+00,8,2020,Shooting,No,M,BLACK,NON HISPANIC,23,15-24,43.183680,-77.607990,1
1,-77.643147,43.141723,9aed9ae5ee7f83638ee33ccff49cf6b9,20-180404,294 Rugby Ave,2020/08/09 04:00:00+00,8,2020,Shooting,No,F,BLACK,NON HISPANIC,28,25-44,43.141723,-77.643147,2
2,-77.611200,43.178448,b0c3f83c934aeea9486ccc2362e0cee6,20-179396,77 Ketchum St,2020/08/08 04:00:00+00,8,2020,Shooting,No,M,WHITE,NON HISPANIC,49,45-Older,43.178448,-77.611200,3
3,-77.613357,43.168276,b83cd8b57bb9048cca4830620cbfab07,20-179526,123 Upper Falls Blvd,2020/08/08 04:00:00+00,8,2020,Shooting,No,M,BLACK,NON HISPANIC,23,15-24,43.168276,-77.613357,4
4,-77.589725,43.181775,42bb767348c1f8a5e4c085b67ab14732,20-177327,334 Roycroft Dr,2020/08/06 04:00:00+00,8,2020,Shooting,Yes,M,BLACK,NON HISPANIC,22,15-24,43.181775,-77.589725,5

In [3]:
df['Latitude']

0     43.183680
1     43.141723
2     43.178448
3     43.168276
4     43.181775
5     43.181775
6     43.126591
7     43.146168
8     43.169300
9     43.179133
10    43.179133
11    43.172693
12    43.181901
Name: Latitude, dtype: float64

In [4]:
df['Longitude']

0    -77.607990
1    -77.643147
2    -77.611200
3    -77.613357
4    -77.589725
5    -77.589725
6    -77.614345
7    -77.646772
8    -77.580698
9    -77.648424
10   -77.648424
11   -77.609300
12   -77.618138
Name: Longitude, dtype: float64

In [5]:
df.shape

(13, 18)

In [6]:
import haversine as hs
from haversine import Unit

In [7]:

df['coordinate'] = list(zip(df['Latitude'],df['Longitude']))
df.head()

,X,Y,ID,Case_Number,Address,Occurred_Date,Occurred_Month,Occurred_Year,Crime_Type,Multiple_Shooting,Gender,Race,Ethnicity,Victim_Age,Victim_Age_Band,Latitude,Longitude,ObjectId,coordinate
0,-77.607990,43.183680,d981912bde17ff11baeec440d2962c55,20-180265,1010 Joseph Ave,2020/08/09 04:00:00+00,8,2020,Shooting,No,M,BLACK,NON HISPANIC,23,15-24,43.183680,-77.607990,1,"(43.1836795360001, -77.607990462)"
1,-77.643147,43.141723,9aed9ae5ee7f83638ee33ccff49cf6b9,20-180404,294 Rugby Ave,2020/08/09 04:00:00+00,8,2020,Shooting,No,F,BLACK,NON HISPANIC,28,25-44,43.141723,-77.643147,2,"(43.14172340100001, -77.643147095)"
2,-77.611200,43.178448,b0c3f83c934aeea9486ccc2362e0cee6,20-179396,77 Ketchum St,2020/08/08 04:00:00+00,8,2020,Shooting,No,M,WHITE,NON HISPANIC,49,45-Older,43.178448,-77.611200,3,"(43.1784481240001, -77.6112000269999)"
3,-77.613357,43.168276,b83cd8b57bb9048cca4830620cbfab07,20-179526,123 Upper Falls Blvd,2020/08/08 04:00:00+00,8,2020,Shooting,No,M,BLACK,NON HISPANIC,23,15-24,43.168276,-77.613357,4,"(43.16827618399999, -77.61335654399991)"
4,-77.589725,43.181775,42bb767348c1f8a5e4c085b67ab14732,20-177327,334 Roycroft Dr,2020/08/06 04:00:00+00,8,2020,Shooting,Yes,M,BLACK,NON HISPANIC,22,15-24,43.181775,-77.589725,5,"(43.181775168000094, -77.589725243)"

In [8]:
def dist_from(loc1,loc2): 
    dist=hs.haversine(loc1,loc2)
    return round(dist,2)

In [9]:
# running a loop which will parse location one by one to dist_from
for _,row in df.iterrows():
    df[row.ID]=df['coordinate'].apply(lambda x: dist_from(row.coordinate,x))

In [10]:
df.head()

,X,Y,ID,Case_Number,Address,Occurred_Date,Occurred_Month,Occurred_Year,Crime_Type,Multiple_Shooting,...,b83cd8b57bb9048cca4830620cbfab07,42bb767348c1f8a5e4c085b67ab14732,a8c5e088b79b16709df3ce1589438e4b,1642e9ea9f20bc6c190560580241ad24,7c4ff4e2a92a48af3a1bebb390a4fdbc,5e631196f8d60399474687757b4fe570,d604b745f7537a66e8883bef6da030d6,7b512d2bf479e7f0b509086593a5412d,b60d6b2da56ee3b3cc4e9a78cc72b73c,04bf6b9efe7f0b98c20e83dde9c32e19
0,-77.607990,43.183680,d981912bde17ff11baeec440d2962c55,20-180265,1010 Joseph Ave,2020/08/09 04:00:00+00,8,2020,Shooting,No,...,1.77,1.50,1.50,6.37,5.22,2.73,3.32,3.32,1.23,0.85
1,-77.643147,43.141723,9aed9ae5ee7f83638ee33ccff49cf6b9,20-180404,294 Rugby Ave,2020/08/09 04:00:00+00,8,2020,Shooting,No,...,3.82,6.21,6.21,2.88,0.58,5.92,4.18,4.18,4.40,4.91
2,-77.611200,43.178448,b0c3f83c934aeea9486ccc2362e0cee6,20-179396,77 Ketchum St,2020/08/08 04:00:00+00,8,2020,Shooting,No,...,1.14,1.78,1.78,5.77,4.61,2.67,3.02,3.02,0.66,0.68
3,-77.613357,43.168276,b83cd8b57bb9048cca4830620cbfab07,20-179526,123 Upper Falls Blvd,2020/08/08 04:00:00+00,8,2020,Shooting,No,...,0.00,2.43,2.43,4.64,3.66,2.65,3.09,3.09,0.59,1.56
4,-77.589725,43.181775,42bb767348c1f8a5e4c085b67ab14732,20-177327,334 Roycroft Dr,2020/08/06 04:00:00+00,8,2020,Shooting,Yes,...,2.43,0.00,0.00,6.45,6.09,1.57,4.77,4.77,1.88,2.30

In [11]:
distances_df=df.iloc[:,19:4183]
distances_df

,d981912bde17ff11baeec440d2962c55,9aed9ae5ee7f83638ee33ccff49cf6b9,b0c3f83c934aeea9486ccc2362e0cee6,b83cd8b57bb9048cca4830620cbfab07,42bb767348c1f8a5e4c085b67ab14732,a8c5e088b79b16709df3ce1589438e4b,1642e9ea9f20bc6c190560580241ad24,7c4ff4e2a92a48af3a1bebb390a4fdbc,5e631196f8d60399474687757b4fe570,d604b745f7537a66e8883bef6da030d6,7b512d2bf479e7f0b509086593a5412d,b60d6b2da56ee3b3cc4e9a78cc72b73c,04bf6b9efe7f0b98c20e83dde9c32e19
0,0.00,5.47,0.64,1.77,1.50,1.50,6.37,5.22,2.73,3.32,3.32,1.23,0.85
1,5.47,0.00,4.84,3.82,6.21,6.21,2.88,0.58,5.92,4.18,4.18,4.40,4.91
2,0.64,4.84,0.00,1.14,1.78,1.78,5.77,4.61,2.67,3.02,3.02,0.66,0.68
3,1.77,3.82,1.14,0.00,2.43,2.43,4.64,3.66,2.65,3.09,3.09,0.59,1.56
4,1.50,6.21,1.78,2.43,0.00,0.00,6.45,6.09,1.57,4.77,4.77,1.88,2.30
5,1.50,6.21,1.78,2.43,0.00,0.00,6.45,6.09,1.57,4.77,4.77,1.88,2.30
6,6.37,2.88,5.77,4.64,6.45,6.45,0.00,3.41,5.48,6.46,6.46,5.14,6.16
7,5.22,0.58,4.61,3.66,6.09,6.09,3.41,0.00,5.94,3.67,3.67,4.24,4.60
8,2.73,5.92,2.67,2.65,1.57,1.57,5.48,5.94,0.00,5.60,5.60,2.35,3.34
9,3.32,4.18,3.02,3.09,4.77,4.77,6.46,3.67,5.60,0.00,0.00,3.25,2.47
10,3.32,4.18,3.02,3.09,4.77,4.77,6.46,3.67,5.60,0.00,0.00,3.25,2.47
11,1.23,4.40,0.66,0.59,1.88,1.88,5.14,4.24,2.35,3.25,3.25,0.00,1.25
12,0.85,4.91,0.68,1.56,2.30,2.30,6.16,4.60,3.34,2.47,2.47,1.25,0.00